/* .card-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card_box {
  display: flex;
  width: 80vw;
  height: 80vh;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.section-1 {
  display: flex;
  justify-content: space-evenly;
}
.section-2 {
  display: flex;
  justify-content: space-evenly;
}

.card-content {
  width: 25%;
  height: 80%;
  border: 1px solid #424242;
}

.card-content h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  margin: 5%;
  color: #19815a;
}

.card-content span {
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vw;
  margin: 10%;
  color: #19815a;
  text-align: center;
}
.card-content p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10%;
  font-size: 2vh;
} */
.discount-card {
  display: flex;
  justify-content: center;
}

.discount-card-box {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  width: 80vw;
  height: 50vh;
}
.discount-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  /* height: 75%; */
  border: 1px solid #c0bdbd;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  text-align: center;
  background-color: #e8f0ec;
  color: #19815a;
  margin-bottom: 5%;
}
.discount-card-content:hover {
  background-color: rgb(28, 113, 82);
  color: white;
}

.discount-text {
  display: flex;
  justify-content: end;
}
.discount:hover {
  background-color: rgba(243, 114, 8, 0.746);
  color: white;
}
.discount {
  background-color: rgba(243, 114, 8, 0.746);
  width: 8vh;
  height: 3vh;
  text-align: center;
  align-items: center;
}
.discount-card-content p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3vh;
  display: flex;
  flex-wrap: wrap;
}
.discount-card-content button {
  background-color: coral;
  width: 82px;
  height: 27px;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  border: none;
}
.blockUp_h3 {
  font-size: 80px;
  color: #19815a;
  font-family: Arial, Helvetica, sans-serif;
}
.blockUp p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2%;
  font-size: 17px;
}
.blockUp_h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #19815a;
}
.blockUp {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}
.blockUpDiv {
  width: 30%;
  border: 1px solid green;
  padding: 20px 15px;
}
.blockDown_h6 {
  font-size: 20px;
  color: #19815a;
  margin-top: 3%;
  font-family: Arial, Helvetica, sans-serif;
}
.blockDown_p {
  margin-top: 3%;
  font-family: Arial, Helvetica, sans-serif;
}
.blockDown {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  margin-top: 3%;
}
.blockDownDiv {
  width: 30%;
  border: 1px solid green;
  padding: 20px 15px;
}
@media screen and (max-width: 768px) {
  .blockUp {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .blockUpDiv {
    width: 100%;
    border: 1px solid green;
    padding: 20px 15px;
    margin-top: 4%;
  }
  .blockUp_h3 {
    font-size: 60px;
  }
  .blockUp_h6 {
    font-size: 17px;
  }
  .blockUp p {
    font-size: 14px;
  }
  .blockDown {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .blockDownDiv {
    width: 100%;
    border: 1px solid green;
    padding: 20px 15px;
    margin-top: 4%;
  }
}
