.Contacts {
  width: 100vw;
  height: 80vh;
}
.leaflet-container {
  width: 90%;
  height: 50vh;
}
.clinic-name {
  width: 100%;

  font-size: 8vh;
  font-family: "Georgia, 'Times New Roman', Times, serif";
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}
.contacts-box {
  display: flex;
  width: 100%;
  /* height: 20%; */
  color: #424242;
  justify-content: center;
  align-items: center;
}
.contacts-container {
  width: 70%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}
.contacts-info ul li {
  font-size: 15px;
  list-style: none;
  margin: 5px;
}
.contacts-btn {
  display: flex;
  flex-direction: column;
}
.btn-contacts {
  height: 25px;
  width: 159px;
  border-radius: 3vh;
  border: none;
  margin: 5px;
  background-color: #425397;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* font-size: large; */
  color: #ffff;
}
.btn-contacts1 {
  height: 25px;
  width: 159px;
  border-radius: 3vh;
  border: none;
  margin: 5px;
  background-color: #57a381;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* font-size: large; */
  color: #ffff;
}
.btn-contacts:hover {
  background-color: #4d5c97;
}
.btn-contacts1:hover {
  background-color: #519476;
}
