.footer {
  width: 100%;
  color: #424242;
  justify-content: center;
  align-items: center;
  background-color: #e8f0ec;
  /* margin-top: 50px; */
}
.footer-container {
  display: flex;
  width: 60%;
  color: #424242;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section1 ul li {
  padding: 0 0 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.section2 {
  width: 30%;
  color: red;
  margin-top: 20px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.section3 ul li {
  padding: 0 0 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.footer-copyrigth {
  display: flex;
  height: 40px;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#footer-menu li a img {
  width: 30px;
  height: 30px;
}
#footer-menu li a {
  text-decoration: none;
  color: #424242;
}
#footer-menu li {
  list-style: none;
  margin-top: 20px;
}
