#navbar {
  background-color: rgb(255, 255, 255) !important;
}

.navs {
  color: black !important;
}

.navs:hover {
  color: rgb(43, 129, 90) !important;
  background-color: transparent !important;
}

.menu {
  color: black !important;
}

.navs-search {
  color: black !important;
}

.navs-search:hover {
  color: rgb(43, 129, 90) !important;
}

.navs-search:focus {
  color: rgb(43, 129, 90) !important;
}

.logo1 {
  height: 50px;
}

.logo2 {
  height: 50px;
}

.nav-name {
  color: black !important;
}

@media screen and (max-width: 900px) {
  .logo1 {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .nav-name {
    display: none !important;
  }
  .logo2 {
    display: none !important;
  }
}

@media screen and (min-width: 900px) {
  .logo2 {
    display: none !important;
  }
}
