#navbar {
  background-color: rgb(255, 255, 255) !important;
  /* border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important; */
}

.navs {
  color: rgb(108, 107, 107) !important;
  background-color: transparent !important;
}

.navs:hover {
  color: #5049ac !important;
  background-color: transparent !important;
}

.navs:active {
  color: #5049ac !important;
  background-color: transparent !important;
}
.doc-icon {
  margin-left: 3px !important;
  font-size: 125% !important;
}

.menu {
  color: #605aa2 !important;
}

.navs-search {
  color: #605aa2 !important;
}

.navs-search:hover {
  color: #605aa2 !important;
}

.navs-search:focus {
  color: rgb(43, 129, 90) !important;
}

.logo1 {
  height: 60px;
}

.logo2 {
  margin-top: 10px;

  height: 60px;
}

.nav-name {
  color: #574fa8 !important;
}

@media screen and (max-width: 900px) {
  .logo1 {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .nav-name {
    display: none !important;
  }
  .logo2 {
    display: none !important;
  }
}

@media screen and (min-width: 900px) {
  .logo2 {
    display: none !important;
  }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
  .nav-name {
    display: none !important;
  }
}
