@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@1,600&family=Rubik:ital@1&family=Signika:wght@500&family=Ubuntu:ital@1&display=swap");

.price-list {
  background-image: url("https://images.unsplash.com/photo-1579165466991-467135ad3110?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  mix-blend-mode: multiply;
  height: 645px;
}
.price-list::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  opacity: 0.7;
  z-index: 1;
}

.price-list-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.terapevt {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo3 {
  width: 250px;
  margin-top: 530px !important;
  margin-right: 50px;
  opacity: 10;
}

.price-title {
  margin-top: 830px;
  font-size: 95px;
  color: #e2dbe2ec !important;
  font-family: monospace;
  /* font-weight: 100; */
}

.title-terapevt {
  color: #424242;
  font-family: "Rubik", sans-serif !important;
  font-size: 30px;
}

.uslugi {
  color: #525252;
  font-family: "Rubik", sans-serif !important;
  font-size: 20px;
  margin-top: 30px;
}
