.overlayContent {
  padding: 50px 80px 50px;
}
.overlayContent h2 {
  font-size: 50px;
  color: white;
  font-weight: 600;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.overlayContent p {
  font-size: 17px;
  margin-top: 4%;
  font-family: Arial, Helvetica, sans-serif;
}
.overlayContent button {
  padding: 20px 50px;
  margin-top: 4%;
  border: 2px solid #574fa8;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 35px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.overlayContent button:hover {
  border: 2px solid #574fa8;
  background-color: #574fa8;
  color: white;
  transition: 0.4s;
}
