.container-card {
  width: 315.9px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-card .card {
  position: relative;
}

.container-card .card .face {
  width: 300px;
  height: 200px;
}

.container-card .card .face.face1 {
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 2;
  /* transform: translateY(100px); */
}

.btn-more {
  color: gray !important;
}

.btn-more:hover {
  color: #1582e7 !important;
}

.container-card .card .face.face1 .content {
  text-align: center;
}

.container-card .card .face.face1 .content i {
  font-size: 3em;
  color: white;
  display: inline-block;
}

.container-card .card .face.face1 .content h3 {
  font-size: 1em;
  color: white;
  text-align: center;
}

.container-card .card .face.face2 {
  position: relative;
  background: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px;
}

.card {
  margin-top: 50px;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
}
/* @media screen and (max-width: 600px) {
  .card {
    width: 50px;
    position: static;
  }
  .container-card {
    width: 100px;
    position: static;
  }
} */
